<a href="https://colab.research.google.com/github/jdmartinev/ST1613-AppliedML-/blob/main/Semana02/Semana02_Ejemplo_practico_census_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocesamiento de Datos - Ejemplo Práctico

En esta demostración se preprocesará un conjunto de datos de población estadounidense. Los datos utilizados son un subconjunto modificado de [este set de datos](https://archive.ics.uci.edu/ml/datasets/Adult) y se encuentran en el archivo `census.csv`.

In [2]:
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1YRdrCLSkzkGIj1jrBg__8it6dmgWTtHc' -O census.csv

--2024-04-11 21:54:57--  https://docs.google.com/uc?export=download&id=1YRdrCLSkzkGIj1jrBg__8it6dmgWTtHc
Resolving docs.google.com (docs.google.com)... 142.251.2.113, 142.251.2.101, 142.251.2.100, ...
Connecting to docs.google.com (docs.google.com)|142.251.2.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1YRdrCLSkzkGIj1jrBg__8it6dmgWTtHc&export=download [following]
--2024-04-11 21:54:57--  https://drive.usercontent.google.com/download?id=1YRdrCLSkzkGIj1jrBg__8it6dmgWTtHc&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.251.2.132, 2607:f8b0:4023:c0d::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.251.2.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2268451 (2.2M) [application/octet-stream]
Saving to: ‘census.csv’

census.csv          100%[===================>]   2.16M  --.-KB/s    in 0.1s

2024-04-11 21:54:59 (16.9 MB/s) - ‘census.csv’ saved [2268451/2268451]

In [3]:
import pandas as pd

In [4]:
# Importemos los datos:
data = pd.read_csv('census.csv', header = 0)

In [5]:
# Veamos el dataset:
data

,age,workclass,education,race,sex,hours_per_week,USA_born,label
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K
...,...,...,...,...,...,...,...,...
41711,33.0,Private,Bachelors,White,Male,40.0,1.0,<=50K
41712,39.0,Private,Bachelors,White,Female,36.0,1.0,<=50K
41713,38.0,Private,Bachelors,White,Male,50.0,1.0,<=50K
41714,44.0,Private,Bachelors,Asian-Pac-Islander,Male,40.0,1.0,<=50K
41715,35.0,Self-emp-inc,Bachelors,White,Male,60.0,1.0,>50K

In [ ]:
# Descripción de las columnas:
data.describe(include='all')

,age,workclass,education,race,sex,hours_per_week,USA_born,label
count,41617.000000,41705,41702,41700,41701,41631.000000,41701.000000,41716
unique,NaN,7,10,5,2,NaN,NaN,2
top,NaN,Private,High-school,White,Male,NaN,NaN,<=50K
freq,NaN,30962,14969,35670,28191,NaN,NaN,31813
mean,38.476608,NaN,NaN,NaN,NaN,40.743220,0.895062,NaN
std,13.365972,NaN,NaN,NaN,NaN,12.000085,0.306477,NaN
min,17.000000,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN
25%,28.000000,NaN,NaN,NaN,NaN,40.000000,1.000000,NaN
50%,37.000000,NaN,NaN,NaN,NaN,40.000000,1.000000,NaN
75%,47.000000,NaN,NaN,NaN,NaN,45.000000,1.000000,NaN
max,90.000000,NaN,NaN,NaN,NaN,99.000000,1.000000,NaN

In [ ]:
data['education'].unique()

array(['Bachelors', 'High-school', 'Some-high-school', 'Masters',
       'Some-college', 'Middle-school', 'Doctorate', 'Some-middle-school',
       'Preschool', 'Elementary-school', nan], dtype=object)

In [ ]:
# Verifiquemos si hay datos faltantes:
data.isna().sum()

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64

In [ ]:
# Descartemos las filas que tengan 3 o más datos faltantes:
data.dropna(axis=0, thresh=6, inplace=True)

In [ ]:
# Contemos de nuevo los datos faltantes:
data.isna().sum()

age               85
workclass          0
education          0
race               0
sex                0
hours_per_week    68
USA_born           0
label              0
dtype: int64

In [ ]:
# Imputemos los datos faltantes de edad y horas trabajadas por semana con la mediana de cada una de esas columnas:
data.fillna(data.median(), inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
# Contemos de nuevo los datos faltantes:
data.isna().sum()

age               0
workclass         0
education         0
race              0
sex               0
hours_per_week    0
USA_born          0
label             0
dtype: int64

In [ ]:
# Apliquemos one-hot encoding a la columna "workclass":
data = pd.concat([data.drop(columns='workclass'), pd.get_dummies(data['workclass'])], axis=1)

In [ ]:
# Hallemos los valores que toma la columna "education":
data['education'].value_counts()

High-school           14968
Some-college          10028
Bachelors              7767
Some-high-school       4153
Masters                2590
Middle-school           843
Doctorate               575
Some-middle-school      468
Elementary-school       229
Preschool                73
Name: education, dtype: int64

In [ ]:
# Apliquemos ordinal encoding a la columna "education":
data.loc[:, 'education'] = data['education'].map({
    'Preschool': 0,
    'Elementary-school': 1,
    'Some-middle-school': 2,
    'Middle-school': 3,
    'Some-high-school': 4,
    'High-school': 5,
    'Some-college': 6,
    'Bachelors': 7,
    'Masters': 8,
    'Doctorate': 9
})

In [ ]:
# Verifiquemos que la columna "education" tenga los valores apropiados:
data['education'].value_counts()

5    14968
6    10028
7     7767
4     4153
8     2590
3      843
9      575
2      468
1      229
0       73
Name: education, dtype: int64

In [ ]:
# Apliquemos one-hot encoding a la columna "race":
data = pd.concat([data.drop(columns='race'), pd.get_dummies(data['race'])], axis=1)

In [ ]:
# Apliquemos binary encoding a la columna "sex":
data.loc[:, 'sex'] = data['sex'].map({'Male': 0, 'Female': 1})

In [ ]:
# Apliquemos binary encoding a la etiqueta:
data.loc[:, 'label'] = data['label'].map({'<=50K': 0, '>50K': 1})

In [ ]:
# Veamos el dataset resultante:
data

In [ ]:
# Veamos la nueva descripción del dataset:
data.describe()

In [ ]:
# Verifiquemos el tipo de dato de cada columna:
data.dtypes

In [ ]:
# Carguemos el dataset a un nuevo archivo:
data.to_csv('./census_processed.csv', index=False)